<h1>Hey you!</h1>

<ul>
	<li>Now: {{ now }}</li>
	<li>UID: {{ uid }}</li>
	<li>Random Hash: {{ randomHash.value() }}</li>
	<li>App Version: {{ appVersion }}</li>
	<li>App Hash: {{ appHash }}</li>
	<li>Build Date: {{ buildDate }}</li>
	<li>Build Env: {{ buildEnv }}</li>
</ul>

@if (characters.isLoading()) {
	<h6>Loading Rick and Morty...</h6>
}

@if (characters.value(); as data) {
	<h3>Rick and Morty Characters ({{ data.info?.count }} total)</h3>

	<ul>
		@for (character of data.results; track character?.id) {
			<li>{{ character?.name }} - {{ character?.species }} ({{ character?.status }})</li>
		}
	</ul>
}

<router-outlet />
